<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Los krunkers - Inicio empresa</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Consulting Website Template Free Download" name="keywords">
    <meta content="Consulting Website Template Free Download" name="description">

    <!-- Favicon -->
    <link href="../../assets/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200;300;400&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="../../assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../assets/css/style.css" rel="stylesheet">

    <!-- Estils -->
    <style>
        .divsCentrales {
            /*height: auto;*/
            padding: 2%;
            background-color: rgba(128, 128, 128, 0.329);
            border-radius: 20px;
            color: black;
            width: 70%;
            margin: 0 auto;
            align-items: center;
        }
        
    </style>


</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand pt-3 pb-3">KRUNKERS</a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active mt-1">Inicio</a>
                    <a href="about.html" class="nav-item nav-link mt-1">Mi perfil</a>
                    <a href="service.html" class="nav-item nav-link mt-1">Mis candidaturas</a>
                    <a href="feature.html" class="nav-item nav-link mt-1">Ajustes</a>
                    <a href="#" class="nav-item nav-link "><img src="../../assets/img/fotoPerfil.jpg" alt="company_logo"
                            style="width: 30px; height: 30px;"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    <!--Empty div-->
    <!--
    <div class="mt-4 pt-3">
        <div class="container"></div>
    </div>
-->
    <!-- Darse de baja start -->

    <div class="row mb-5 pb-5">
    </div>
    <div class="templateux-cover mb-5">
        <div class="container">
            <div class="row">
                <div class="col align-self-center col-lg-12 col-sm-12 order-lg-1">
                    <div class="divsCentrales">
                        <span class="text-center">
                        <h3>Cambiar Contraseña</h3>
                        </span>
                        <div class="row d-flex justify-content-center">
                            <p>
                                Vamos a echarte de menos, pero siempre podrás encontrarnos aquí cuando decidas volver
                            </p>
                            
                            <span class="text-center">
                                <h5>¿Cuáles son los motivos de tu baja?</h5>
                            </span>
                            <form action="#" method="post">
                                <!-- {{ csrf_field() }} -->
                                <br>
                                <input type="checkbox" name="trabajo" id="trabajo">
                                <label for="trabajo">Ya tengo trabajo, así que no necesito tener mi CV en tusPracticas</label>
                                <br><br>
                                <input type="checkbox" name="otrosMedios" id="otrosMedios">
                                <label for="otrosMedios">No quiero utilizar tusPracticas para buscar prácticas, utilizo otros medios</label>
                                <br><br>
                                <input type="checkbox" name="sinOfertas" id="sinOfertas">
                                <label for="sinOfertas">No encuentro ofertas de mi perfil profesional o en mi sector</label>
                                <br><br>
                                <input type="checkbox" name="seleccion" id="seleccion">
                                <label for="seleccion">Los procesos de selección en los que he participado no han sido satisfactorios</label>
                                <br><br>
                                <input type="checkbox" name="otros" id="otros">
                                <label for="otros">Otros</label>
                                <br><br>
                                <label for="passwd">Contraseña</label><br>
                                <input type="password" name="currentPasswd" id="currentPasswd">
                                <button type="button" class="btn btn-primary" id="mostrarPasswd" onclick="mostrarPassword(1)">Mostrar contraseña</button>
                                <br><br>
                                <button type="submit" class="btn btn-primary" name="darseBaja" id="darseBaja">Confirmar baja</button>
                                <button type="submit" class="btn btn-danger ml-3" name="cancelarBaja" id="cancelarBaja">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <!-- Darse de baja end -->


    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-contact">
                                <h2>Our Head Office</h2>
                                <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                                <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                                <p><i class="fa fa-envelope"></i>info@example.com</p>
                                <div class="footer-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-link">
                                <h2>Quick Links</h2>
                                <a href="">Terms of use</a>
                                <a href="">Privacy policy</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <p>
                            Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu
                            placerat rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                        </p>
                        <div class="form">
                            <input class="form-control" placeholder="Email goes here">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">Los Krunkers</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By Krunkers Team</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/lib/easing/easing.min.js"></script>
    <script src="../../assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../../assets/lib/waypoints/waypoints.min.js"></script>
    <script src="../../assets/lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../../assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="../../assets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="../../assets/js/main.js"></script>

    <!-- JS -->
    <script src="../../assets/js/mostrarPasswd.js"></script>

</body>

</html>